/* Card.module.css */

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.container:hover {
  transform: translateY(-5px);
}

.url {
  text-decoration: none;
  color: inherit;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s;
}

.container:hover .image {
  opacity: 0.8;
}

.info {
  padding: 10px;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.diets {
  display: flex;
  flex-wrap: wrap;
}

.diet {
  background-color: #f44336;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-right: 5px;
  margin-bottom: 5px;
}

.diet:last-child {
  margin-right: 0;
}
