/* SearchBar.module.css */

.searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px; /* Espacio inferior para separar de otros elementos si es necesario */
}

.searchInput {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 0px;
  max-width: 185px; /* Ajusta el ancho máximo según tus preferencias */
}

.searchButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease-in-out; /* Agrega una transición suave al efecto */
}

.searchButton:hover {
  transform: scale(1.1); /* Cambia el tamaño del botón en el hover */
}

.searchIcon {
  width: 34px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: 34px; /* Ajusta el tamaño de la imagen según tus preferencias */
}
