.card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
}

.textHeader {
  font-size: 1.5rem;
  font-weight: bold;
}

.cardBody {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.range {
  width: 100%;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

.stepContainer {
  margin-top: 10px;
}

.btn2 {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.adv {
  color: red;
  font-size: 0.8rem;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.formDiet {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.dietsC {
  flex: 50%; /* Mostrar dos tipos de dieta por fila */
  padding: 5px;
  box-sizing: border-box;
}

.dietsC label {
  display: block;
}

.dietsC input[type="checkbox"] {
  margin-right: 5px;
}
