/* Tu archivo de estilos CSS */

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(42, 42, 42, 0.8); /* Color de fondo con transparencia */
  backdrop-filter: blur(10px); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.filters select {
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  background-color: #ffffff;
}

.btn {
  padding: 8px 20px;
  font-size: 14px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #0056b3;
}
